DJANGO_SECRET_KEY='q4!xr9h*_m713$2hp1c*84#(d&wljik$)c7m@k3l&+mr1kp1be'
DJANGO_DEBUG=True

POSTGRES_DB=django_db
POSTGRES_USER=django_user
POSTGRES_PASSWORD=super_secret_password
DB_HOST=db
DB_PORT=5432